faiss-cpu==1.10.0
farm-haystack==1.26.4
farm-haystack[faissdocumentstore]
farm-haystack[preprocessing]
farm-haystack[sql]
layoutparser==0.3.4
layoutparser[effdet]
layoutparser[ocr]
pdf2image==1.17.0
pillow==9.5.0
pytesseract==0.3.13
sentence-transformers==3.4.1
torch==2.6.0
torchvision==0.21.0
transformers==4.49.0
